fastexcel
pre-commit
pathspec
pandas
pyarrow
openpyxl
polars
python-calamine
wheel
setuptools
duckdb
tabulate
tqdm
xlsxwriter

#Para UI de data
typer
rich
questionary

#utils
pydantic
python-dateutil
